* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: lightblue;
  padding: 2rem 2rem 2rem 2rem;
}

header h2 {
  font-style: italic;
}

header h4 {
  padding-top: 0.5rem;
}

section {
  padding: 0 2rem;
}

section h3 {
  padding-top: 1.5rem;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 4rem;
  height: 4rem;
}

.scroll-box {
  overflow-x: auto;
  width: 100%;
}

.hbox-container {
  display: flex;
  width: min-content;
  margin: auto;
}

.hbox {
  margin: 1rem;
  padding: 1rem;
  width: min-content;
  background-color: aliceblue;
}

.hbox h4 {
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: underline;
}

.hbox img {
  display: block;
  width: 16rem;
  margin-bottom: 0.5rem;
}

.hbox ul {
  margin-left: 1rem;
  font-size: 0.8rem;
}