* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1, 
h2 {
  text-align: center;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.hbox-container {
  display: flex;
}

.hbox {
  margin: 1rem;
  padding: 1rem;
  width: min-content;
  background-color: aliceblue;
}

.hbox img {
  width: 16rem;
  display: block;
}

.hbox h4 {
  text-align: center;
}

.hbox ul {
  margin-left: 1rem;
}